.card-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: space-around;

    & img {
      min-width: 250px;
      max-width: 250px;
      max-height: 370px;
      object-fit: cover;
      margin-bottom: 5px;
  }

  .card {
    min-width: 320px;
    margin: 15px;
    border-radius: 6px;
    box-shadow: 3px 3px 2px #bac0c028;
    text-align: center;
  }
}

.delete-button {
  margin-bottom: 5px;
  padding: 10px;
  font-size: large;
}
